@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    margin: 150px 10%;
    display: grid;
    place-items: center;
}

.container {
    max-width: 930px;
    color: hsl(0, 0%, 95%);
    border-radius: 10px;
    overflow: hidden;

    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 0 45px;
    max-height: 500px;
}
.card .image {
    margin: 50px 0 20px;
}
.card h1 {
    font-family: "Big Shoulders Display", cursive;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.1rem;
    font-weight: 700;
}
.card p {
    min-width: 200px;
    color: hsla(0, 0%, 100%, 0.75);
    margin: 40px 0;
    line-height: 1.6;
}
.card button {
    margin: 20px 0 50px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid #fff;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: capitalize;
    font-family: "Lexend Deca", sans-serif;
    cursor: pointer;
    transition: background 0.5s linear;
}
.card:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
}

.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
}

.card:nth-child(1) button {
    color: hsl(31, 77%, 52%);
}
.card:nth-child(2) button {
    color: hsl(184, 100%, 22%);
}
.card:nth-child(3) button {
    color: hsl(179, 100%, 13%);
}
.card button:hover {
    background: transparent;
    color: #fff;
}

@media (max-width: 920px) {
    .card {
        /* width: 250px; */
        padding: 0 30px;
    }
}

@media (max-width: 810px) {
    body {
        display: contents;
    }
    .container {
        min-width: 325px;
        width: 60%;
        flex-direction: column;
        margin: 100px auto;
    }
    .card {
        width: auto;
    }
    .card p {
        margin: 20px 0;
    }
}
