@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    height: 100vh;
    margin: 0 10%;
    display: grid;
    place-items: center;
}

.container {
    max-width: 930px;
    color: hsl(0, 0%, 95%);
    border-radius: 10px;
    overflow: hidden;

    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 0 45px;
}
.card .image {
    margin: 40px 0 20px;
}
.card h1 {
    font-family: "Big Shoulders Display", cursive;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.1rem;
}
.card p {
    min-width: 200px;
    color: hsla(0, 0%, 100%, 0.75);
    margin: 40px 0;
    line-height: 2;
}
.card button {
    margin: 20px 0 50px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: capitalize;
    font-family: "Lexend Deca", sans-serif;
    cursor: pointer;
}
/* media --- 1190px --> width: 200px 
         --- 900px ---->   810px */

@media (max-width: 920px) {
    .card {
        /* width: 250px; */
        padding: 0 30px;
    }
}

@media (max-width: 810px) {
    body {
        height: auto;
        display: contents;
    }
    .container {
        flex-direction: column;
        margin: 90px 25px;
    }
    .card {
        width: auto;
    }
}
